body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)), url(../../../public/images/grass3.jpg);
    background-repeat: repeat;
    font-family: 'Titillium Web', sans-serif;
}

/* ============== between the navbar and cards area ============== */
.addGameButton {
    margin: 110px 0 10px  5px;
}

.filterArea {
    display: flex;
    flex-wrap: wrap;
}

#filterBy {
    margin-left: 5px;
}

.filterArea label {
    color: white;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 2px 2px black;
}

.filterItem {
    margin: 0 5px;
}

.myGamesHeader {
    color: white;
    text-shadow: 2px 3px black;
    margin-left: 5px;
    font-size: 30px;
}

select {
    cursor: pointer;
}

/* ============== end between the navbar and cards area ============== */

/* ============== cards ============== */
.gameCards {
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}

.gameDetails {
    margin-bottom: 10px;
}

.card {
    border: #7c8284 solid 5px;
    background-color: rgba(0,0,0,.65);
    color: white;
    padding: 0 5px;
    margin: 7px 3px;
    border-radius: 12px;
    position: relative;
    padding-bottom: 50px;
    min-width: 250px;
}

.card h3 {
    margin: 5px 0;
}

.card ul {
    margin: 3px 5px;
    padding-left: 25px;
}

.cardButtons {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
}

.noGamesMessage {
    color: white;
    text-shadow: 2px 3px black;
    margin-left: 5px;
    font-size: 24px;
    font-weight: bold;
}
/* ============== end cards ============== */

/* ============== buttons ============== */
button {
    font-family: 'Titillium Web', sans-serif;
    color: #0f6835;
    border-radius: 7px;
    border: none;
    margin: 2px;
    background-color: #99a4a8;
    cursor: pointer;
    font-weight: bold;
    padding: 2px;
    box-shadow: 2px 2px #0f6835;
}

button:hover {
    transform: scale(.9);
}

button:active {
    transform: scale(.8);
}

.addGameButton {
    font-size: larger;
    padding: 8px 10px;
    box-shadow: 4px 4px #0f6835;
}

.seeAllGames {
    padding: 3px 7px;
    margin-top: 5px;
}

.loginButton {
    font-size: 20px;
    padding: 3px 7px;
}
/* ============== end buttons ============== */