nav {
    background-color: #7c8284;
    /* background-color: #074e06; */
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    top: 0;
    z-index: 50;
}

/* ============== logo ============== */
#logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#logo:hover {
    transform: scale(.9)
}

#logo:active {
    transform: scale(.8)
}
/* ============== end logo ============== */

.navLink {
    color: white;
    font-weight: bolder;
    font-size: 20px; 
    text-shadow: 3px 3px #008037;
    text-decoration: none;
    /* border: 2px solid #008037;
    border-radius: 10px;
    background-color: #565d60;
    padding: 2px; */
}

/* #activeView {
    color: yellow;
} */

.navList {
    display: flex;
    list-style: none;
    margin-top: 38px;
    flex-wrap: wrap;
}

.navListItem {
    margin-right: 20px;
}

.navListItem:hover {
    transform: scale(.9)
}

.navListItem:active {
    transform: scale(.8)
}

.notTheLogout {
    display: flex;
}

.logout {
    margin-right: 10px;
}