nav {
    background-color: #7c8284;
    width: 100%;
    height: 100px;
    /* position: fixed */
    display: flex;
}

.navListItems {
    display: flex;
    list-style: none;
}

img {
    width: 100px;
    height: auto;
}