nav {
    background-color: #7c8284;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    top: 0;
    z-index: 50;
}

/* ============== logo ============== */
#logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#logo:hover {
    transform: scale(.9)
}

#logo:active {
    transform: scale(.8)
}
/* ============== end logo ============== */

.navLink {
    color: white;
    font-weight: bolder;
    font-size: 17px; 
    text-shadow: 3px 3px #008037;
    text-decoration: none;
}

.navList {
    display: flex;
    list-style: none;
    margin-top: 38px;
    flex-wrap: wrap;
}

.navListItem:hover {
    transform: scale(.9)
}

.navListItem:active {
    transform: scale(.8)
}

.notTheLogout {
    display: flex;
}

.logout {
    margin-right: 15px;
}

.navDropdowns {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 8px;
}

.navDropdowns label {
    color: white;
    font-weight: bolder;
    font-size: 17px; 
    text-shadow: 3px 3px #008037;
    text-decoration: none;
}

.navDropdowns select {
    background-color: #7c8284;
    border: 2px solid white
}

.navDropdowns option {
    color: white;
    font-weight: bold;
    font-size: 15px;
}